.banner {
    background: url("../../../../src/assets/banner/pexels-kampus-5940831.jpg");
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  